# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = tab
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{yml,yaml,mdx}]
indent_style = space

[Justfile]
indent_style = space

[*.py]
indent_style = space
indent_size = 4

[*.rs]
indent_style = space
indent_size = 4

[*.sh]
# https://manpages.debian.org/testing/shfmt/shfmt.1.en.html#EXAMPLES
switch_case_indent = true
