.bun-build
.changeset
.claude/*.json
.cursor/rules/
.docs/migrations/*.md
.docs/prompts/*.md
.opencode/package.json
.windsurf/rules/
*.lock
**/dist/**
/turbo/generators/**/*.hbs
AGENT.md
AGENTS.md
CHANGELOG.md
CLAUDE.md
pnpm-lock.yaml
turbo.json
vite.config.ts.timestamp*
vitest.config.ts.timestamp*
worker-configuration.d.ts
