name: Check

on:
  push:

env:
  FORCE_COLOR: 1

jobs:
  check:
    name: Check
    runs-on:
      - self-hosted
      - X64
    timeout-minutes: 5
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 3
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.0
      - uses: 1password/install-cli-action@v1
      - name: Install Dagger
        uses: dagger/dagger-for-github@v8.2.0
        with:
          version: '0.19.8'
      - name: Check & Test (Dagger)
        run: ./.dagger/bin/daggerx test
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
